@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: black;

}


header {
	height: 100vh;
	width: 100vw;
	
}

.navbar	{
	background-color: black;
	position: absolute;
	padding: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	
	
}

.navbar img {

width: 40px;
height: 45px;
margin-left: 20px;
}

.navbar .navlink ul {
	display: flex;
	color: black;
} 


.navbar .navlink ul li {
	display: flex;
	margin: 22px;
	color: black;
} 

.navbar .menu-ham {
	display: none;
}
@media screen and (max-width:1000px) {

	.navbar .menu-ham {
		display: block;
		width: 36px;
		height: 38px;
	}

	.navlink{
		display: none;
	}
	
}

